
<header class="navbar">
  <section class="navbar-section">
    <a href="/" class="btn btn-link">Home</a>
    <a href="/projects" class="btn btn-link">Projects</a>
  </section>
  <section class="navbar-center">
    <!-- centered logo or brand -->
  </section>
  <section class="navbar-section">
    <a href="#" class="btn btn-link">About</a>
    <a href="/login" class="btn btn-link">Log in</a>
  </section>
</header>