<div id="modprojmain">
  <div>
    <h3>Edit project</h3>
  </div>
  <div>{{#if isLoggedIn}}
      {{#if isAdmin}}
        <form action="/projects/update/{{project.pid}}" method="post">
          <fieldset>
            <label for="projname">Project name: </label>
            <input
              type="text"
              name="projname"
              id="projname"
              value="{{project.pname}}"
              required="required"
            />
            <br>
            <label for="projyear">Project year: </label>
            <input
              type="number"
              name="projyear"
              id="projyear"
              placeholder="2023"
              value="{{project.pyear}}"
              required="required"
            />
            <br>
            <br>
            <label for="projtype">Project type: </label>
            <select
              type="text"
              name="projtype"
              id="projtype"
              required="required"
            >
              <option value="artwork"{{#if (typeDraw project.ptype)}} {{/if}}>artwork</option>
              <option value="university project"{{#if (typeUni project.ptype)}} {{/if}}>university project</option>
            </select>
            <br>
            <label for="projimg">Project image URL: </label>
            <input
              type="text"
              name="projimg"
              id="projimg"
              placeholder="/img/"
              value="{{project.pimgURL}}"
              required="required"
            />
          </fieldset>
          <input type="submit" value="Modify project" />
        </form>
      {{/if}}
    {{/if}}</div>

</div>