<div id="main">
    
   {{#if user}}
   <h1>Good to have you back {{ user.username }}!</h1>
   {{else}}
   <h1>Hello! Welcome to my portfolio!</h1>
   {{/if}}
</div>
<footer>
    <form action="/logout" method="POST">
    <input class="logout-btn" type="submit" value="Log out">
    </form>
</footer>