<div id="main">
    <header class="navigation">
    <a href="views/home.handlebars" class="my-name">My CV</a>
    <nav class="nav-bar">
        <a href="/home">About me</a>
        <a href="/projects">My work</a>
    </nav>
</header>
    <div>
        <h1>Hello!</h1>
        <div>
            Welcome to my portfolio! 
        </div>
        <a href="/login">Login</a>
    </div>
</div>
