<div id="main">
    <div>
        <h1>List of all persons</h1>
        {{#each listProjects}}
            <div>
            <a href="/projects/{{id}}"> - {{name}} </a> 
            </div>
        {{/each}}
    </div>
</div>
