<div id="main">
    <div>
        <h1>My projects</h1>
        {{#each projects}}
            <div>
                <h3>
            <a href="/projects/{{pid}}"> - {{pname}} </a> 
            </h3>
            </div>
        {{/each}}
    </div>
</div>
