    <h1>Series</h1>
    <ul>
      {{#each series}}
        <li>
          <h2>{{sname}}</h2>
          <p>Type: {{stype}}</p>
          <p>Description: {{sdesc}}</p>
        </li>
      {{/each}}
    </ul>